[submodule "app"]
	path = app
	url = https://github.com/KaloinaMelodie/app.git

[submodule "assistant-front"]
    path = assistant-front
    url = https://github.com/KaloinaMelodie/assistant-front.git
